<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DevCamp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Replies</h1>
<th:block th:each="reply : ${replies}">
    <tr>
        <td th:text="${reply.time + '  //  ' + reply.from.name + ':  ' + reply.text}">No messages so far...</td>
        <br/>
    </tr>
</th:block>

<h2>new message</h2>
<form action="#" th:action="@{/replies}" th:object="${message}" method="post">
    <p>Von: <input type="text" th:field="*{fromName}" th:default="Anonymous"/></p>
    <p>An: <input type="text" th:field="*{toName}" th:default="Anonymous"/></p>
    <p>Message: <input type="text" th:field="*{text}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>